@charset "UTF-8";


/* 
    em HTML é ID = em CSS é #
    em HTML é Class = em CSS é .
*/

body {
    background-color: rgb(#61FFC5);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #268f5c;
}

h2 {
    color: #48d691;
}

.basico {
    color: aqua;
}