* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr 5fr 1fr;
justify-content:space-between;
align-items: ;
  gap: 20px;

  background-color: blue;
}

.topo {
  background-color: red;
  grid-row: 1/2;
  grid-column: 1/4;
}
.menu {
  background-color: red;
  grid-row: 2/3;
  grid-column: 1/4;
}
.principal {
  background-color: red;
      grid-row: 3/4;
    grid-column: 1/2;
}
.secundario {
  background-color: red;
      grid-row: 3/4;
    grid-column: 2/3;
}
.rodape {
  background-color: red;
      grid-row: 4/5;
    grid-column: 1/4;
}

