.container {
    border: 3px solid blue;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 80px 80px 80px;
    grid-auto-rows: 80px;
    gap: 10px;
    place-content: normal normal;
    place-items: normal normal;
}
div.item {
    border : 3px solid red;
    padding: 5px;
}

