

* {
    height: 100%;
    margin: 0;
   background-repeat: no-repeat;
   overflow: hidden;
}
 
body {
    background-image: url(Imagens/espaco.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

header {
    height: 400px;
}