.container {
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column: repeat(3, auto) / repeat(3, auto);
    gap: 10px;
    place-items: star center;
    place-content: space-between end;
}
div.item {
    border :3px solid red;
    padding: 5px;
}

