@charset "UTF-8";

/*
#49a09d
#5f2c82
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);

}

section#login > div#imagem {
    display: block;
    background-color: #5f2c82;
    height: 200px;
    background-size: contain;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}