@charset "UTF-8"
      
      body {
            background-color: aqua;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(255, 255, 255); 
            background-color: rgb(141, 33, 33);       
        }
        h2 {
            color: red;
        }
        p {
            text-align: justify;
        }
