
body {
    background-image: url(imagens/wallpaper001.jpg);
}

div.quadrado {
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}

div#q1 {
    background-color: aqua;
}

div#q2 {
    background-image: linear-gradient(to bottom , red , blue);
}

div#q3 {
    background-image: url(imagens/pattern003.png); }