@charset "UTF-8";

* {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(184, 184, 184, 0.397);
    width: 90vw;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(200px);
    
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

img {
    display: block;
    margin: auto;

}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#tv {display: none;}
img#pc {display: none;}