@charset 'UTF-8';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    
}

nav {
    background-color: rgb(221, 102, 102);
    padding: 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.452);
}


main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 1px;
    box-shadow: 10px 2px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 40px 10px;
}

footer > p {
    margin: 0px;
}