@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right , #BAA6E0, #7dc3e9 );
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 50px 50px 15px #6f5c92;
    width: 300px;
    padding: 10px 300px;
    margin: auto;
}


h1 {
    color: #FF78A3;
    text-align: center;
    text-shadow: 1px 1px 2px #92435c;
}

h2 {
    display: grid;
    color:  #FF78A3;
    text-align: center;
    background-color:  #f0c0cf;

}

p {
    text-align: justify;
}

div > p  {
    display: none;
}

.dv1:hover > .tx1 {
    display: block;
}

.dv2:hover > #tx2 {
    display: block;
}

.dv3:hover > #tx3 {
    display: block;
}

